############################
# Java / Maven (ALL services)
############################
**/*.class
**/*.log
**/target/

############################
# Maven Wrapper
############################
**/.mvn/
!**/.mvn/wrapper/maven-wrapper.jar

############################
# Spring Boot
############################
**/*.jar
**/*.war
**/*.ear

############################
# Docker / Database (runtime)
############################
**/mysql-data/
**/docker-data/

############################
# Environment variables
############################
.env
*.env

############################
# IDE
############################
**/.idea/
**/.vscode/
**/*.iml

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Misc
############################
hs_err_pid*
replay_pid*
